<div class="tab combat" data-group="primary" data-tab="combat">
  <table>
    <tr>
      <th>{{ localize "WOD20.Weapon"}}</th>
      <th>{{ localize "WOD20.Diff"}}</th>
      <th>{{ localize "WOD20.Damage"}}</th>
      <th>{{ localize "WOD20.Range"}}</th>
      <th>{{ localize "WOD20.Rate"}}</th>
      <th>{{ localize "WOD20.Clip"}}</th>
      <th>{{ localize "WOD20.Conceal"}}</th>
    </tr>
    {{#each data.data.weapons}}
    <tr>
      <td>
        <input
          name="data.weapons.{{@key}}.attack"
          type="text"
          value="{{this.attack}}"
          placeholder="{{localize 'WOD20.Weapon'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.diff"
          type="text"
          value="{{this.diff}}"
          placeholder="{{localize 'WOD20.Diff'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.damage"
          type="text"
          value="{{this.damage}}"
          placeholder="{{localize 'WOD20.Damage'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.range"
          type="text"
          value="{{this.range}}"
          placeholder="{{localize 'WOD20.Range'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.rate"
          type="text"
          value="{{this.rate}}"
          placeholder="{{localize 'WOD20.Rate'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.clip"
          type="text"
          value="{{this.clip}}"
          placeholder="{{localize 'WOD20.Clip'}}"
        />
      </td>
      <td>
        <input
          name="data.weapons.{{@key}}.conceal"
          type="text"
          value="{{this.conceal}}"
          placeholder="{{localize 'WOD20.Conceal'}}"
        />
      </td>
    </tr>
    {{/each}}
  </table>
  <div> 
  <h1> {{localize "WOD20.Armor"}} </h1>
  <input
          name="data.armor.class"
          type="text"
          value="{{data.data.armor.class}}"
          placeholder="{{localize 'WOD20.Class'}}"
  />
  <input
          name="data.armor.rating"
          type="text"
          value="{{data.data.armor.rating}}"
          placeholder="{{localize 'WOD20.Rating'}}"
  />
  <input
          name="data.armor.penalty"
          type="text"
          value="{{data.data.armor.penalty}}"
          placeholder="{{localize 'WOD20.Penalty'}}"
  />
  <input
          name="data.armor.description"
          type="text"
          value="{{data.data.armor.description}}"
          placeholder="{{localize 'WOD20.Description'}}"
  />
  </div>
</div>