<div class="resource flex-group-center humanity">
    <label for="data.data.humanityLabel.value" class="resource-label" 
    data-label="{{localize 'WOD20.RollingRemorse'}}"><input  name="data.humanityLabel.value" value="{{data.data.humanityLabel.value}}" /></label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-value" data-value="{{data.data.humanity.value}}" data-name="data.humanity.value">
            {{#numLoop 10}}
            <span class="resource-value-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>