<option value="argos">{{localize "WOD20.Argos"}}</option>
<option value="castigation">{{localize "WOD20.Castigation"}}</option>
<option value="embody">{{localize "WOD20.Embody"}}</option>
<option value="fatalism">{{localize "WOD20.Fatalism"}}</option>
<option value="flux">{{localize "WOD20.Flux"}}</option>
<option value="inhabit">{{localize "WOD20.Inhabit"}}</option>
<option value="intimation">{{localize "WOD20.Intimation"}}</option>
<option value="keening">{{localize "WOD20.Keening"}}</option>
<option value="lifeweb">{{localize "WOD20.Lifeweb"}}</option>
<option value="mnemosynis">{{localize "WOD20.Mnemosynis"}}</option>
<option value="moliate">{{localize "WOD20.Moliate"}}</option>
<option value="outrage">{{localize "WOD20.Outrage"}}</option>
<option value="pandemonium">{{localize "WOD20.Pandemonium"}}</option>
<option value="phantasm">{{localize "WOD20.Phantasm"}}</option>
<option value="puppetry">{{localize "WOD20.Puppetry"}}</option>
<option value="usury">{{localize "WOD20.Usury"}}</option>
<option value="collogue">{{localize "WOD20.Collogue"}}</option>
<option value="contaminate">{{localize "WOD20.Contaminate"}}</option>
<option value="corruption">{{localize "WOD20.Corruption"}}</option>
<option value="larceny">{{localize "WOD20.Larceny"}}</option>
<option value="maleficence">{{localize "WOD20.Maleficence"}}</option>
<option value="shroudRending">{{localize "WOD20.ShroudRending"}}</option>
<option value="tempestos">{{localize "WOD20.Tempestos"}}</option>
<option value="tempestWeaving">{{localize "WOD20.TempestWeaving"}}</option>