<option value="strength">{{localize "WOD20.Strength"}}</option>
<option value="dexterity">{{localize "WOD20.Dexterity"}}</option>
<option value="stamina">{{localize "WOD20.Stamina"}}</option>
<option value="charisma">{{localize "WOD20.Charisma"}}</option>
<option value="manipulation">{{localize "WOD20.Manipulation"}}</option>
<option value="appearance">{{localize "WOD20.Appearance"}}</option>
<option value="intelligence">{{localize "WOD20.Intelligence"}}</option>
<option value="wits">{{localize "WOD20.Wits"}}</option>
<option value="perception">{{localize "WOD20.Perception"}}</option>
<option value="thaumaturgy">{{localize "WOD20.Thaumaturgy"}}</option>
