<option value="abombwe">{{localize "WOD20.Abombwe"}}</option>
<option value="animalism">{{localize "WOD20.Animalism"}}</option>
<option value="auspex">{{localize "WOD20.Auspex"}}</option>
<option value="bardo">{{localize "WOD20.Bardo"}}</option>
<option value="celerity">{{localize "WOD20.Celerity"}}</option>
<option value="chimerstry">{{localize "WOD20.Chimerstry"}}</option>
<option value="daimonion">{{localize "WOD20.Daimonion"}}</option>
<option value="dementation">{{localize "WOD20.Dementation"}}</option>
<option value="dominate">{{localize "WOD20.Dominate"}}</option>
<option value="flight">{{localize "WOD20.Flight"}}</option>
<option value="fortitude">{{localize "WOD20.Fortitude"}}</option>
<option value="melpominee">{{localize "WOD20.Melpominee"}}</option>
<option value="mytherceria">{{localize "WOD20.Mytherceria"}}</option>
<option value="obeah">{{localize "WOD20.Obeah"}}</option>
<option value="obfuscate">{{localize "WOD20.Obfuscate"}}</option>
<option value="obtenebration">{{localize "WOD20.Obtenebration"}}</option>
<option value="potence">{{localize "WOD20.Potence"}}</option>
<option value="presence">{{localize "WOD20.Presence"}}</option>
<option value="protean">{{localize "WOD20.Protean"}}</option>
<option value="quietus">{{localize "WOD20.Quietus"}}</option>
<option value="sanguinus">{{localize "WOD20.Sanguinus"}}</option>
<option value="serpentis">{{localize "WOD20.Serpentis"}}</option>
<option value="spiritus">{{localize "WOD20.Spiritus"}}</option>
<option value="temporis">{{localize "WOD20.Temporis"}}</option>
<option value="thanatosis">{{localize "WOD20.Thanatosis "}}</option>
<option value="valeren">{{localize "WOD20.Valeren"}}</option>
<option value="vicissitude">{{localize "WOD20.Vicissitude"}}</option>
<option value="visceratika">{{localize "WOD20.Visceratika"}}</option>
<option value="oblivion">{{localize "WOD20.Oblivion"}}</option>
<option value="rituals">{{localize "WOD20.Rituals"}}</option>
<option value="ceremonies">{{localize "WOD20.Ceremonies"}}</option>
<option value="thaumaturgy">{{localize "WOD20.Thaumaturgy"}}</option>
<option value="Necromancy">{{localize "WOD20.Necromancy"}}</option>
