<option value="academics">{{localize "WOD20.Academics"}}</option>
<option value="animal ken">{{localize "WOD20.AnimalKen"}}</option>
<option value="athletics">{{localize "WOD20.Athletics"}}</option>
<option value="awareness">{{localize "WOD20.Awareness"}}</option>
<option value="brawl">{{localize "WOD20.Brawl"}}</option>
<option value="craft">{{localize "WOD20.Craft"}}</option>
<option value="drive">{{localize "WOD20.Drive"}}</option>
<option value="etiquette">{{localize "WOD20.Etiquette"}}</option>
<option value="finance">{{localize "WOD20.Finance"}}</option>
<option value="alertness">{{localize "WOD20.Alertness"}}</option>
<option value="expression">{{localize "WOD20.Expression"}}</option>
<option value="empathy">{{localize "WOD20.Empathy"}}</option>
<option value="computer">{{localize "WOD20.Computer"}}</option>
<option value="law">{{localize "WOD20.Law"}}</option>
<option value="firearms">{{localize "WOD20.Firearms"}}</option>
<option value="insight">{{localize "WOD20.Insight"}}</option>
<option value="intimidation">{{localize "WOD20.Intimidation"}}</option>
<option value="investigation">{{localize "WOD20.Investigation"}}</option>
<option value="larceny">{{localize "WOD20.Larceny"}}</option>
<option value="leadership">{{localize "WOD20.Leadership"}}</option>
<option value="medicine">{{localize "WOD20.Medicine"}}</option>
<option value="melee">{{localize "WOD20.Melee"}}</option>
<option value="occult">{{localize "WOD20.Occult"}}</option>
<option value="performance">{{localize "WOD20.Performance"}}</option>
<option value="persuasion">{{localize "WOD20.Persuasion"}}</option>
<option value="politics">{{localize "WOD20.Politics"}}</option>
<option value="primal urge">{{localize "WOD20.PrimalUrge"}}</option>
<option value="rituals">{{localize "WOD20.Rituals"}}</option>
<option value="science">{{localize "WOD20.Science"}}</option>
<option value="stealth">{{localize "WOD20.Stealth"}}</option>
<option value="streetwise">{{localize "WOD20.Streetwise"}}</option>
<option value="subterfuge">{{localize "WOD20.Subterfuge"}}</option>
<option value="survival">{{localize "WOD20.Survival"}}</option>
<option value="technology">{{localize "WOD20.Technology"}}</option>
